{% load staticfiles %}
<!DOCTYPE html>

<html lang="en" style="width:100%;overflow-x:hidden">
	<!-- begin::Head -->
	<head>
		<meta charset="utf-8"/>
		<title>
			Kure: KMC Neuro History Sheet
		</title>

		<style>
body {
	font-family: Arial, Helvetica, sans-serif;
}

	/* The Modal (background) */
	.modal {
		display: none; /* Hidden by default */
		position: fixed; /* Stay in place */
		z-index: 1; /* Sit on top */
		padding-top: 100px; /* Location of the box */
		left: 0;
		top: 0;
		width: 100%; /* Full width */
		height: 100%; /* Full height */
		overflow: auto; /* Enable scroll if needed */
		background-color: rgb(0, 0, 0); /* Fallback color */
		background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
	}

	/* Modal Content */
	.modal-content {
		background-color: #fefefe;
		margin: auto;
		padding: 20px;
		border: 1px solid #888;
		width: 80%;
	}

	/* The Close Button */
	.close {
		color: #aaaaaa;
		float: right;
		font-size: 28px;
		font-weight: bold;
	}

	.close:hover,
	.close:focus {
		color: #000;
		text-decoration: none;
		cursor: pointer;
	}
		</style>

		<!-- Jquery cdn -->
		<script
	src="https://code.jquery.com/jquery-3.3.1.min.js"
 integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
 crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
	  integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
   crossorigin="anonymous"></script>
		<!--bootstrap cdn -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
			 integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
	  integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
   crossorigin="anonymous"></script>

		<script src="{% static "assets/app/js/util.js" %}"></script>
		<meta name="description" content="Initialized with local json data">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.css"/>


		<!--begin::Web font -->


		<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
		<script src="{% static "assets/app/js/datatable.js" %}"></script>
		<script>
			WebFont.load({
				google: {"families": ["Poppins:300,400,500,600,700", "Roboto:300,400,500,600,700"]},
				active: function () {
					sessionStorage.fonts = true;
				}
			});


// var options = {
// 	data: {
//         type: 'remote',
//         source: {
//             read: {
//                 url: '/getpatients',
//                 method: 'GET',
//                 // custom headers
//                 headers: { 'x-my-custom-header': 'some value', 'x-test-header': 'the value'},
//                 params: {
//                     // custom parameters
//                     //generalSearch: '',
//                     //EmployeeID: 1,
//                     //someParam: 'someValue',
//                     //token: 'token-value'
//                 },
//                 map: function(raw) {
//                     // sample data mapping
//                     var dataSet = raw;
//                     if (typeof raw.data !== 'undefined') {
//                          dataSet = raw.data;
//                     }
//                     return dataSet;
//                 },
//             }
//         },
//         pageSize: 10,
//         saveState: {
//             cookie: true,
//             webstorage: true
//         },

//         serverPaging: true,
//         serverFiltering: true,
//         serverSorting: true,
//         autoColumns: true,
//     },

//     layout: {
//         theme: 'default',
//         class: 'm-datatable--brand',
//         scroll: false,
//         height: null,
//         footer: false,
//         header: true,

//         smoothScroll: {
//             scrollbarShown: true
//         },

//         spinner: {
//             overlayColor: '#000000',
//             opacity: 0,
//             type: 'loader',
//             state: 'brand',
//             message: true
//         },

//         icons: {
//             sort: {asc: 'la la-arrow-up', desc: 'la la-arrow-down'},
//             pagination: {
//                 next: 'la la-angle-right',
//                 prev: 'la la-angle-left',
//                 first: 'la la-angle-double-left',
//                 last: 'la la-angle-double-right',
//                 more: 'la la-ellipsis-h'
//             },
//         }
//     },

//     sortable: true,

//     pagination: true,

//     search: {
//       // enable trigger search by keyup enter
//       onEnter: false,
//       // input text for search
// 	  input: $('#generalSearch'),
//       // search delay in milliseconds
//       delay: 400,
//     },
// /*
//     detail: {
//         title: 'Load sub table',
//         content: function (e) {
//             // e.data
//             // e.detailCell
//         }
//     },*/

//     rows: {
//       callback: function() {},
//       // auto hide columns, if rows overflow. work on non locked columns
//       autoHide: true,
//     },

//     // columns definition
// 	columns:  [
// 	{
//           field: 'Kureid',
// 		  title: 'KureID',
// 		  width:200,
// 	 },{
//           field: 'OpNo',
// 		  title: 'Hospital Number',
// 		  width:200,
//      },
//         {
//           field: 'Name',
//           title: 'Name',
//          // sortable: false, // disable sort for this column
//           //width: 200,
// 		 // selector: false,
//          // textAlign: 'center',
//         }, {
//           field: 'Age',
//           title: 'Age',
//           // sortable: 'asc', // default sort
//           width: 100,
//           // basic templating support for column rendering,
//         }, {
//           field: 'genderChoice',
// 		  title: 'Sex',
// 		  width:100,
//      },

// 	  /*{
//           field: 'Actions',
//          // width: 300,
//           title: 'Actions',
//           sortable: false,
//           template: function (row, index, datatable) {
//             var dropup = (datatable.getPageSize() - index) <= 4 ? 'dropup' : '';
//             return '\
// 						\
// 						<a href="#" class="m-portlet__nav-link btn m-btn m-btn--hover-warning m-btn--icon m-btn--icon-only m-btn--pill" title="Export as PDF">\
// 							<i class="la la-external-link"></i>\
// 						</a>\
// 						<a href="#" class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill" title="Edit details">\
// 							<i class="la la-edit"></i>\
// 						</a>\
// 						<a href="#" class="m-portlet__nav-link btn m-btn m-btn--hover-danger m-btn--icon m-btn--icon-only m-btn--pill" title="Delete">\
// 							<i class="la la-trash"></i>\
// 						</a>\
// 					';
//           },
//         }*/],

//     toolbar: {
//         layout: ['pagination', 'info'],

//         placement: ['bottom'],  //'top', 'bottom'

//         items: {
//             pagination: {
//                 type: 'default',

//                 pages: {
//                     desktop: {
//                         layout: 'default',
//                         pagesNumber: 6
//                     },
//                     tablet: {
//                         layout: 'default',
//                         pagesNumber: 3
//                     },
//                     mobile: {
//                         layout: 'compact'
//                     }
//                 },

//                 navigation: {
//                     prev: true,
//                     next: true,
//                     first: true,
//                     last: true
//                 },

//                 pageSizeSelect: [10, 20, 30, 50, 100]
//             },

//             info: true
	//         }
	//     },


// };


	//var datatable = $(".m_datatable").mDatatable(options);


		</script>
		<!--end::Web font -->
		<!--begin::Base Styles -->
		<link href="{% static 'assets/vendors/base/vendors.bundle.css' %}" rel="stylesheet" type="text/css"/>
		<link href="{% static 'assets/demo/default/base/style.bundle.css' %}" rel="stylesheet" type="text/css"/>
		<!--end::Base Styles -->

		<link rel="shortcut icon" type='image/x-icon' href="/static/assets/app/media/img/icons/favicon.ico"/>
	</head>
	<!-- end::Head -->
	<!-- end::Body -->
	<body class="m-page--fluid m--skin- m-content--skin-light2 m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default">
		<!-- begin:: Page -->
		<div class="m-grid m-grid--hor m-grid--root m-page">
			<!-- BEGIN: Header -->
			<header class="m-grid__item    m-header " data-minimize-offset="200" data-minimize-mobile-offset="200">
				<div class="m-container m-container--fluid m-container--full-height">
					<div class="m-stack m-stack--ver m-stack--desktop">
						<!-- BEGIN: Brand -->
						<div class="m-stack__item m-brand  m-brand--skin-dark ">
							<div class="m-stack m-stack--ver m-stack--general">
								<div class="m-stack__item m-stack__item--middle m-brand__logo">
									<a href="../../../index.html" class="m-brand__logo-wrapper">
										<img alt="" src="../../../assets/demo/default/media/img/logo/logo_default_dark.png"/>
									</a>
								</div>
								<div class="m-stack__item m-stack__item--middle m-brand__tools">
									<!-- BEGIN: Left Aside Minimize Toggle -->
									<a href="javascript:;" id="m_aside_left_minimize_toggle" class="m-brand__icon m-brand__toggler m-brand__toggler--left m--visible-desktop-inline-block
									">
										<span></span>
									</a>
									<!-- END -->
									<!-- BEGIN: Responsive Aside Left Menu Toggler -->
									<a href="javascript:;" id="m_aside_left_offcanvas_toggle"
				class="m-brand__icon m-brand__toggler m-brand__toggler--left m--visible-tablet-and-mobile-inline-block">
										<span></span>
									</a>
									<!-- END -->
									<!-- BEGIN: Responsive Header Menu Toggler -->
									<a id="m_aside_header_menu_mobile_toggle" href="javascript:;"
						   class="m-brand__icon m-brand__toggler m--visible-tablet-and-mobile-inline-block">
										<span></span>
									</a>
									<!-- END -->
									<!-- BEGIN: Topbar Toggler -->
									<a id="m_aside_header_topbar_mobile_toggle" href="javascript:;"
						     class="m-brand__icon m--visible-tablet-and-mobile-inline-block">
										<i class="flaticon-more"></i>
									</a>
									<!-- BEGIN: Topbar Toggler -->
								</div>
							</div>
						</div>
						<!-- END: Brand -->
						<div class="m-stack__item m-stack__item--fluid m-header-head" id="m_header_nav">
							<!-- BEGIN: Horizontal Menu -->

							<!-- END: Horizontal Menu -->                                <!-- BEGIN: Topbar -->
							<div id="m_header_topbar" class="m-topbar  m-stack m-stack--ver m-stack--general">
								<div class="m-stack__item m-topbar__nav-wrapper" style="vertical-align: middle">
									<ul class="m-topbar__nav m-nav m-nav--inline" style="height:auto">
										<li class="m-nav__item">
											<a href="{% url 'logout' %}"
	      class="btn m-btn--pill    btn-secondary m-btn m-btn--custom m-btn--label-brand m-btn--bolder">Logout</a>
										</li>
									</ul>
								</div>
							</div>
							<!-- END: Topbar -->
						</div>
					</div>
				</div>
			</header>
			<!-- END: Header -->
			<!-- begin::Body -->
			<div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">
				<!-- BEGIN: Left Aside -->
				<button class="m-aside-left-close  m-aside-left-close--skin-dark " id="m_aside_left_close_btn">
					<i class="la la-close"></i>
				</button>
				<div id="m_aside_left" class="m-grid__item	m-aside-left  m-aside-left--skin-dark ">
					<!-- BEGIN: Aside Menu -->
					<div
			   id="m_ver_menu"
      class="m-aside-menu  m-aside-menu--skin-dark m-aside-menu--submenu-skin-dark "
      data-menu-vertical="true"
      data-menu-scrollable="false" data-menu-dropdown-timeout="500">
						<ul class="m-menu__nav  m-menu__nav--dropdown-submenu-arrow ">
							<li class="m-menu__item " aria-haspopup="true">
								<a href="{% url 'dashboard' %}" class="m-menu__link ">
									<i class="m-menu__link-icon flaticon-line-graph"></i>
									<span class="m-menu__link-title">
										<span class="m-menu__link-wrap">
											<span class="m-menu__link-text">
												Dashboard
											</span>
											<span class="m-menu__link-badge">

											</span>
										</span>
									</span>
								</a>
							</li>
							<li class="m-menu__item " aria-haspopup="true">
								<a href=".{% url 'createpatient' %}" class="m-menu__link ">
									<i class="m-menu__link-icon flaticon-line-graph"></i>
									<span class="m-menu__link-title">
										<span class="m-menu__link-wrap">
											<span class="m-menu__link-text">
												Create Patient
											</span>
											<span class="m-menu__link-badge">

											</span>
										</span>
									</span>
								</a>
							</li>


							<!-- this is the starting -->

						</ul>

					</div>
					<!-- END: Aside Menu -->
				</div>
				<!-- END: Left Aside -->

				<!-- END: Subheader -->
				<div class="m-content">


					<div class="m-portlet m-portlet--mobile">
						<div class="m-portlet__head">
							<div class="m-portlet__head-caption">
								<div class="m-portlet__head-title">
									<h3 class="m-portlet__head-text">
										List of Patients
									</h3>
								</div>
							</div>

						</div>
						<div class="m-portlet__body">
							<!--begin: Search Form -->
							<div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
								<div class="row align-items-center">
									<div class="col-xl-8 order-2 order-xl-1">
										<div class="form-group m-form__group row align-items-center">
											<div class="col-md-4">
												<div class="m-form__group m-form__group--inline">
													<div class="m-form__label">
														<label>
															Status:
														</label>
													</div>
													<div class="m-form__control">
														<select class="form-control m-bootstrap-select" id="m_form_status">
															<option value="">
															All
															</option>
															<option value="1">
															Pending
															</option>
															<option value="2">
															Delivered
															</option>
															<option value="3">
															Canceled
															</option>
														</select>
													</div>
												</div>
												<div class="d-md-none m--margin-bottom-10"></div>
											</div>
											<div class="col-md-4">
												<div class="m-form__group m-form__group--inline">
													<div class="m-form__label">
														<label class="m-label m-label--single">
															Type:
														</label>
													</div>
													<div class="m-form__control">
														<select class="form-control m-bootstrap-select" id="m_form_type">
															<option value="">
															All
															</option>
															<option value="1">
															Online
															</option>
															<option value="2">
															Retail
															</option>
															<option value="3">
															Direct
															</option>
														</select>
													</div>
												</div>
												<div class="d-md-none m--margin-bottom-10"></div>
											</div>
											<div class="col-md-4">
												<div class="m-input-icon m-input-icon--left">
													<input type="text" class="form-control m-input" placeholder="Search..."
							     id="generalSearch">
													<span class="m-input-icon__icon m-input-icon__icon--left">
														<span>
															<i class="la la-search"></i>
														</span>
													</span>
												</div>
											</div>
										</div>
									</div>
									<div class="col-xl-4 order-1 order-xl-2 m--align-right">
										<a href="/createpatient"
	     class="btn btn-primary m-btn m-btn--custom m-btn--icon m-btn--air m-btn--pill">
											<span>
												<span>
													Add a New Patient
												</span>
											</span>
										</a>
										<div class="m-separator m-separator--dashed d-xl-none"></div>
									</div>


								</div>


								<!--		<div class="m_datatable" id="ajax_data"> -->

								<!-- Custom Table -->


								<div class="container">

									<table id="example" class="display" style="width:100%">
										<thead>
											<tr>
												<th>Name</th>
												<th>Age</th>
												<th>Gender Choice</th>
												<th>Kure ID</th>
												<th>Status</th>
											</tr>
										</thead>
										<tfoot>
											<tr>
												<th>Name</th>
												<th>Age</th>
												<th>Gender Choice</th>
												<th>Kure ID</th>
												<th>Status</th>
											</tr>
										</tfoot>
									</table>

									<!-- Modal -->

									<h2>Modal Example</h2>
									<!-- Trigger the modal with a button -->
									<!--	<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button> -->

									<!-- Modal -->
									<div class="modal fade" id="myModal" role="dialog">
										<div class="modal-dialog">

											<!-- Modal content-->
											<div class="modal-content">
												<div class="modal-header">
													<button type="button" class="close" data-dismiss="modal">&times;</button>
													<h4 class="modal-title">Patient Record</h4>
												</div>
												<div class="modal-body">
													<p id="patientData"></p>
												</div>
												<div class="modal-footer">
													<button type="button" class="btn btn-default" data-dismiss="modal">Close
													</button>
												</div>
											</div>

										</div>
									</div>


								</div>


								</div>
							</div>
						</div>


					</div>
				</div>
				<!-- end:: Body -->
				<!-- begin::Footer -->
				<!-- 			<footer class="m-grid__item		m-footer ">
	    <div class="m-container m-container--fluid m-container--full-height m-page__container">
	    <div class="m-stack m-stack--flex-tablet-and-mobile m-stack--ver m-stack--desktop">
	    <div class="m-stack__item m-stack__item--left m-stack__item--middle m-stack__item--last">
	    <span class="m-footer__copyright">
	    2018 &copy;
	    <a href="#" class="m-link">
	    Kure Healthcare
	    </a>
	    </span>
	    </div>
	    <div class="m-stack__item m-stack__item--right m-stack__item--middle m-stack__item--first">
	    <ul class="m-footer__nav m-nav m-nav--inline m--pull-right">
	    <li class="m-nav__item">
	    <a href="#" class="m-nav__link">
	    <span class="m-nav__link-text">
	    About
	    </span>
	    </a>
	    </li>
	    <li class="m-nav__item">
	    <a href="#"  class="m-nav__link">
	    <span class="m-nav__link-text">
	    Privacy
	    </span>
	    </a>
	    </li>
	    <li class="m-nav__item">
	    <a href="#" class="m-nav__link">
	    <span class="m-nav__link-text">
	    T&C
	    </span>
	    </a>
	    </li>
	    <li class="m-nav__item">
	    <a href="#" class="m-nav__link">
	    <span class="m-nav__link-text">
	    Purchase
	    </span>
	    </a>
	    </li>
	    <li class="m-nav__item m-nav__item">
	    <a href="#" class="m-nav__link" data-toggle="m-tooltip" title="Support Center" data-placement="left">
	    <i class="m-nav__link-icon flaticon-info m--icon-font-size-lg3"></i>
	    </a>
	    </li>
	    </ul>
	    </div>
	    </div>
	    </div>
	    </footer> -->
	    <!-- end::Footer -->
			</div>
			<!-- end:: Page -->
			<!-- begin::Quick Sidebar -->

			<!-- end::Quick Sidebar -->
			<!-- begin::Scroll Top -->
			<div class="m-scroll-top m-scroll-top--skin-top" data-toggle="m-scroll-top" data-scroll-offset="500"
									       data-scroll-speed="300">
				<i class="la la-arrow-up"></i>
			</div>
			<!-- end::Scroll Top -->            <!-- begin::Quick Nav -->

			<!-- begin::Quick Nav -->
			<!--begin::Base Scripts -->
			<script src="{% static 'assets/vendors/base/vendors.bundle.js' %}" type="text/javascript"></script>
			<script src="{% static 'assets/demo/default/base/scripts.bundle.js' %}" type="text/javascript"></script>
			<!--end::Base Scripts -->
			<!--begin::Page Resources -->
			<script src="{% static 'assets/demo/default/custom/components/datatables/base/data-json.js' %}"
	   type="text/javascript"></script>
			<!--end::Page Resources -->
	</body>
	<!-- end::Body -->
	<tail>


	</tail>


	<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.js"></script>

	<script>


		$(document).ready(function () {
			var table = $('#example').DataTable({
				"ajax": {
					"url": "http://127.0.0.1:8000/gettable/",
					"dataSrc": "",

				},
				"columns": [
					{"data": "Name"},
					{"data": "Age"},
					{"data": "genderChoice"},
					{"data": "Kureid"},
					{"defaultContent": "<button class='viewbuttons btn-primary' type='button'>View</button> <button class='testclass btn-primary' type='button'>Edit</button> <button  class='pdf btn-primary' type='button'>Generate PDF</button>"},

				],


			});





			// $(document).ready(function () {
			// var table = $('#example').DataTable({
			//     "ajax": {
			//         "url": "http://127.0.0.1:8000/getpatients/",
			//         "dataSrc": "",

			//     },
			//     "columns": [
			//         {"data": "Name"},
			//         {"data": "Age"},
			//         {"data": "genderChoice"},
			//         {"data": "Kureid"},
			//         {"defaultContent": "<button class='viewbuttons btn-primary' type='button'>View</button> <button class='testclass btn-primary' type='button'>Edit</button> <button class='pdf btn-primary' type='button'>Generate PDF</button>"},

			//     ],


			// });



			$('#example tbody').on('click', '.pdf', function () {
				var data = table.row($(this).parents('tr')).data();
	      		  	window.location.href = 'http://127.0.0.1:8000/generatepdf/'+data.id;

			});


			$('#example tbody').on('click', '.testclass', function () {
				var data = table.row($(this).parents('tr')).data();
				window.location.href = 'http://127.0.0.1:8000/updatepatient/'+data.id;

			});
			$('#example tbody').on('click','.viewbuttons',function(){
			
				var data = table.row($(this).parents('tr')).data();
				window.location.href = 'http://127.0.0.1:8000/createpatientautofill/'+data.id;
			
			
			});
		//	$('#example tbody').on('click', '.viewbuttons', function () {	
		//		table.ajax.url('http://127.0.0.1:8000/getpatients/').load()
		//		var data = table.row($(this).parents('tr')).data();
		//		var Name = data.Name;
		//		var Age = data.Age;
		//		var Gender = data.genderChoice;
		//		var Opno = data.Opno;
		//		var Ipno = data.Ipno;
		//		var Kureid = data.Kureid;
		//		var Phoneno = data.Phoneno;
		//		var Address = data.Address;

		//		var ChiefComplaints = data.ChiefComplaints;
		//		var Historyofillness = data.Historyofillness;
		//		var PastHistory = data.PastHistory;
		//		var Medicationhistroy = data.Medicationhistroy;
		//		var Alcohol = data.Alcohol;
		//		var Smoking = data.Smoking;
		//		var Bowel = data.Bowel;
		//		var Bladder = data.Bladder;
		//		var Sleep = data.Sleep;
		//		var Summary = data.Summary;
		//		var ProvisionalDiagnosis = data.ProvisionalDiagnosis;
		//		var Examinedby = data.Examinedby;
		//		var PulseRate = data.PulseRate;
		//		var Systolic = data.Systolic;
		//		var Diastolic = data.Diastolic;
		//		var Temperature = data.Temperature;
		//		var pl = data.pl;
		//		var Palar = data.Palar;
		//		var Clubbing = data.Clubbing;
		//		var Ictreus = data.Ictreus;
		//		var Lymphadenopathy = data.Lymphadenopathy;
		//		var Cyanosis = data.Cyanosis;
		//		var PittingEdema = data.PittingEdema;
		//		var SubcutaneousMarkers = data.SubcutaneousMarkers;
		//		var SkeletalExamination = data.SkeletalExamination;
		//		var EyeResponse = data.EyeResponse;
		//		var VerbalResponse = data.VerbalResponse;
		//		var MotorResponse = data.MotorResponse;
		//		var MMSE = data.MMSE;
		//		var NHISscore = data.NHISscore;
		//		var Appearance = data.Appearance;
		//		var Handedness = data.Handedness;
		//		var Orientation = data.Orientation;
		//		var Emotion = data.Emotion;
		//		var Memory = data.Memory;
		//		var SpontaneosSpeech = data.SpontaneosSpeech;
		//		var OlfactoryLeft = data.OlfactoryLeft;
		//		var OlfactoryRight = data.OlfactoryRight;
		//		var VisualAcuityLeft = data.VisualAcuityLeft;
		//		var VisualAcuityRight = data.VisualAcuityRight;
		//		var ColorVisionLeft = data.ColorVisionLeft;
		//		var ColorVisionRIght = data.ColorVisionRIght;
		//		var FieldLeft = data.FieldLeft;
		//		var FieldRight = data.FieldRight;
		//		var FundusLeft = data.FundusLeft;
		//		var FundusRight = data.FundusRight;
		//		var NystagmusLeft = data.NystagmusLeft;
		//		var NystagmusRight = data.NystagmusRight;
		//		var MovemenstLeft = data.MovemenstLeft;
		//		var MovemenstRight = data.MovemenstRight;
		//		var PupilLeft = data.PupilLeft;
		//		var PupilRight = data.PupilRight;
		//		var Lightreflexleft = data.Lightreflexleft;
		//		var Lightreflexright = data.Lightreflexright;
		//		var DirectLeft = data.DirectLeft;
		//		var DirectRight = data.DirectRight;
		//		var ConsensualLeft = data.ConsensualLeft;
		//		var ConsensualRight = data.ConsensualRight;
		//		var nystagmusleft12 = data.nystagmusleft12;
		//		var nystagmusright12 = data.nystagmusright12;
		//		var accomodationLeft = data.accomodationLeft;
		//		var accomodationRight = data.accomodationRight;
		//		var motorLeft = data.motorLeft;
		//		var motorRight = data.motorRight;
		//		var jawjerk = data.jawjerk;
		//		var comealreflexleft = data.comealreflexleft;
		//		var comealreflexright = data.comealreflexright;
		//		var eyeclosesureleft = data.eyeclosesureleft;
		//		var eyeclosesureright = data.eyeclosesureright;
		//		var facialexpressionsleft = data.facialexpressionsleft;
		//		var facialexpressionsright = data.facialexpressionsright;
		//		var Comealexpressionright = data.Comealexpressionright;
		//		var Comealexpressionleft = data.Comealexpressionleft;
		//		var tasteleft = data.tasteleft;
		//		var tasteright = data.tasteright;
		//		var SensoryLeft = data.SensoryLeft;
		//		var SensoryRight = data.SensoryRight;
		//		var sensoryRight12 = data.sensoryRigh12;
		//		var sensoryLeft12 = data.sensoryLeft12;
		//		var rhombusleft = data.rhombusleft;
		//		var rhombusright = data.rhombusright;
		//		var rinnesleft = data.rinnesleft;
		//		var rinnesright = data.rinnesright;
		//		var webbers = data.webbers;
		//		var ABCleft = data.ABCleft;
		//		var ABCright = data.ABCright;
		//		var sensoryLeft1 = data.sensoryLeft1;
		//		var sensoryRight1 = data.sensoryRight1;
		//		var motorLeft1 = data.motorLeft1;
		//		var motorRight1 = data.motorRight1;
		//		var Gagleft = data.Gagleft;
		//		var GagRight = data.GagRight;
		//		var palatalleft = data.palatalleft;
		//		var palatalright = data.palatalright;
		//		var uvula = data.uvula;
		//		var trapeziusleft = data.trapeziusleft;
		//		var trapeziusright = data.trapeziusright;
		//		var scmleft = data.scmleft;
		//		var scmright = data.scmright;
		//		var poweroftongueleft = data.poweroftongueleft;
		//		var poweroftongueright = data.poweroftongueright;
		//		var wastingleft = data.wastingleft;
		//		var wastingright = data.wastingright;
		//		var protrusion = data.protrusion;
		//		var toneleft = data.toneleft;
		//		var toneright = data.toneright;
		//		var bulkleft = data.bulkleft;
		//		var bulkright = data.bulkright;
		//		var abductionleft = data.abductionleft;
		//		var abductionright = data.abductionright;
		//		var adductionleft = data.adductionleft;
		//		var adductionright = data.adductionright;
		//		var flexionleft = data.flexionleft;
		//		var flexionright = data.flexionright;
		//		var extensionleft = data.extensionleft;
		//		var extensionright = data.extensionright;
		//		var FlexionLeft12 = data.FlexionLeft12;
		//		var FlexionRight12 = data.FlexionRight12;
		//		var flexionleft1 = data.flexionleft1;
		//		var flexionright1 = data.flexionright1;
		//		var extensionleft1 = data.extensionleft1;
		//		var extensionright1 = data.extensionright1;
		//		var HangGripleft = data.HangGripleft;
		//		var HangGripright = data.HangGripright;
		//		var toneleft1 = data.toneleft1;
		//		var toneright1 = data.toneright1;
		//		var abductionleft1 = data.abductionleft1;
		//		var abductionright1 = data.abductionright1;
		//		var adductionleft1 = data.adductionleft1;
		//		var adductionright1 = data.adductionright1;
		//		var flexionleft2 = data.flexionleft2;
		//		var flexionright2 = data.flexionright2;
		//		var extensionleft2 = data.extensionleft2;
		//		var extensionright2 = data.extensionright2;
		//		var flexionleft3 = data.flexionleft3;
		//		var flexionright3 = data.flexionright3;
		//		var extensionleft3 = data.extensionleft3;
		//		var extensionright3 = data.extensionright3;
		//		var flexionleft4 = data.flexionleft4;
		//		var flexionright4 = data.flexionright4;
		//		var extensionleft4 = data.extensionleft4;
		//		var extensionright4 = data.extensionright4;
		//		var inversionleft = data.inversionleft;
		//		var inversionright = data.inversionright;
		//		var eversionleft = data.eversionleft;
		//		var eversionright = data.eversionright;
		//		var ehlleft = data.ehlleft;
		//		var ehlright = data.ehlright;
		//		var abornmalmovementsleft = data.abornmalmovementsleft;
		//		var abnormalmovementsright = data.abnormalmovementsright;
		//		var upperlimbleft = data.upperlimbleft;
		//		var upperlimbright = data.upperlimbright;
		//		var trunkleft = data.trunkleft;
		//		var trunkright = data.trunkright;
		//		var lowerLimbleft = data.lowerLimbleft;
		//		var lowerLimbright = data.lowerLimbright;
		//		var upperlimbleft1 = data.upperlimbleft1;
		//		var upperlimbright1 = data.upperlimbright1;
		//		var trunkleft1 = data.trunkleft1;
		//		var trunkright1 = data.trunkright1;
		//		var lowerLimbleft1 = data.lowerLimbleft1;
		//		var lowerLimbright1 = data.lowerLimbright1;
		//		var vibrationLeft = data.vibrationLeft;
		//		var vibrationRight = data.vibrationRight;
		//		var JPSleft = data.JPSleft;
		//		var JPSright = data.JPSright;
		//		var bicepsleft = data.bicepsleft;
		//		var bicepsright = data.bicepsright;
		//		var tricepsleft = data.tricepsleft;
		//		var tricepsright = data.tricepsright;
		//		var supinatorleft = data.supinatorleft;
		//		var supinatorright = data.supinatorright;
		//		var Kneeleft = data.Kneeleft;
		//		var Kneeright = data.Kneeright;
		//		var Ankleleft = data.Ankleleft;
		//		var Ankleright = data.Ankleright;
		//		var Abdominalleft = data.Abdominalleft;
		//		var Abdominalright = data.Abdominalright;
		//		var Cremastricleft = data.Cremastricleft;
		//		var Cremastricright = data.Cremastricright;
		//		var BCleft = data.BCleft;
		//		var BCright = data.BCright;
		//		var PlantarLeft = data.PlantarLeft;
		//		var PlantarRight = data.PlantarRight;
		//		var HOffmansLeft = data.HOffmansLeft;
		//		var HOffmansRight = data.HOffmansRight;
		//		var Fingerflexionleft = data.Fingerflexionleft;
		//		var Fingerflexionright = data.Fingerflexionright;
		//		var pectoralLeft = data.pectoralLeft;
		//		var pectoralRight = data.pectoralRight;
		//		var rombers = data.rombers;
		//		var fingerNoseTextleft = data.fingerNoseTextleft;
		//		var fingerNoseTextright = data.fingerNoseTextright;
		//		var pendularKneeJerkleft = data.pendularKneeJerkleft;
		//		var pendularKneeJerkright = data.pendularKneeJerkright;
		//		var kneeHelltestleft = data.kneeHelltestleft;
		//		var kneeHelltestright = data.kneeHelltestright;
		//		var othersLeft = data.othersLeft;
		//		var othersRight = data.othersRight;
		//		var CVS = data.CVS;
		//		var Abdomen = data.Abdomen
		//		var RespiratorySystem = data.RespiratorySystem









		//		localStorage.setItem("Name", Name);
		//		localStorage.setItem("Age", Age);
		//		localStorage.setItem("Gender", Gender);
		//		localStorage.setItem("Opno", Opno);
		//		localStorage.setItem("Ipno", Ipno);
		//		localStorage.setItem("Kureid", Kureid);
		//		localStorage.setItem("Address", Address);
		//		localStorage.setItem("Phoneno", Phoneno);
		//		localStorage.setItem("ChiefComplaints", ChiefComplaints);
		//		localStorage.setItem("Historyofillness", Historyofillness);
		//		localStorage.setItem("PastHistory", PastHistory);
		//		localStorage.setItem("Medicationhistroy", Medicationhistroy);
		//		localStorage.setItem("Alcohol", Alcohol);
		//		localStorage.setItem("Smoking", Smoking);
		//		localStorage.setItem("Bowel", Bowel);
		//		localStorage.setItem("Bladder", Bladder);
		//		localStorage.setItem("Sleep", Sleep);
		//		localStorage.setItem("Summary", Summary);
		//		localStorage.setItem("ProvisionalDiagnosis", ProvisionalDiagnosis);
		//		localStorage.setItem("Examinedby", Examinedby);
		//		localStorage.setItem("PulseRate", PulseRate);
		//		localStorage.setItem("Systolic", Systolic);
		//		localStorage.setItem("Diastolic", Diastolic);
		//		localStorage.setItem("Temperature", Temperature);
		//		localStorage.setItem("pl", pl);
		//		localStorage.setItem("Palar", Palar);
		//		localStorage.setItem("Clubbing", Clubbing);
		//		localStorage.setItem("Ictreus", Ictreus);
		//		localStorage.setItem("Lymphadenopathy", Lymphadenopathy);
		//		localStorage.setItem("Cyanosis", Cyanosis);
		//		localStorage.setItem("PittingEdema", PittingEdema);
		//		localStorage.setItem("SubcutaneousMarkers", SubcutaneousMarkers);
		//		localStorage.setItem("SkeletalExamination", SkeletalExamination);
		//		localStorage.setItem("EyeResponse", EyeResponse);
		//		localStorage.setItem("VerbalResponse", VerbalResponse);
		//		localStorage.setItem("MotorResponse", MotorResponse);
		//		localStorage.setItem("MMSE", MMSE);
		//		localStorage.setItem("NHISscore", NHISscore);
		//		localStorage.setItem("Appearance", Appearance);
		//		localStorage.setItem("Handedness", Handedness);
		//		localStorage.setItem("Orientation", Orientation);
		//		localStorage.setItem("Emotion", Emotion);
		//		localStorage.setItem("Memory", Memory);
		//		localStorage.setItem("SpontaneosSpeech", SpontaneosSpeech);
		//		localStorage.setItem("VisualAcuityLeft", VisualAcuityLeft);
		//		localStorage.setItem("VisualAcuityRight", VisualAcuityLeft);
		//		localStorage.setItem("SpontaneosSpeech", SpontaneosSpeech);
		//		localStorage.setItem("OlfactoryLeft", OlfactoryLeft);
		//		localStorage.setItem("OlfactoryRight", OlfactoryRight);
		//		localStorage.setItem("ColorVisionLeft", ColorVisionLeft);
		//		localStorage.setItem("ColorVisionRIght", ColorVisionRIght);
		//		localStorage.setItem("FieldLeft", FieldLeft);
		//		localStorage.setItem("FieldRight", FieldRight);
		//		localStorage.setItem("FundusLeft", FundusLeft);
		//		localStorage.setItem("FundusRight", FundusRight);
		//		localStorage.setItem("NystagmusLeft", NystagmusLeft);
		//		localStorage.setItem("NystagmusRight", NystagmusRight);
		//		localStorage.setItem("MovemenstLeft", MovemenstLeft);
		//		localStorage.setItem("MovemenstRight", MovemenstRight);
		//		localStorage.setItem("PupilLeft", PupilLeft);
		//		localStorage.setItem("PupilRight", PupilRight);
		//		localStorage.setItem("Lightreflexleft", Lightreflexleft);
		//		localStorage.setItem("Lightreflexright", Lightreflexright);
		//		localStorage.setItem("DirectLeft", DirectLeft);
		//		localStorage.setItem("DirectRight", DirectRight);
		//		localStorage.setItem("ConsensualLeft", ConsensualLeft);
		//		localStorage.setItem("ConsensualRight", ConsensualRight);
		//		localStorage.setItem("nystagmusleft12", nystagmusleft12);
		//		localStorage.setItem("nystagmusright12", nystagmusright12);
		//		localStorage.setItem("accomodationLeft", accomodationLeft);
		//		localStorage.setItem("accomodationRight", accomodationRight);
		//		localStorage.setItem("sensoryLeft12", sensoryLeft12);
		//		localStorage.setItem("sensoryRight12", sensoryRight12);
		//		localStorage.setItem("motorLeft", motorLeft);
		//		localStorage.setItem("motorRight", motorRight);
		//		localStorage.setItem("jawjerk", jawjerk);
		//		localStorage.setItem("comealreflexleft", comealreflexleft);
		//		localStorage.setItem("comealreflexright", comealreflexright);
		//		localStorage.setItem("eyeclosesureleft", eyeclosesureleft);
		//		localStorage.setItem("eyeclosesureright", eyeclosesureright);
		//		localStorage.setItem("facialexpressionsleft", facialexpressionsleft);
		//		localStorage.setItem("facialexpressionsright", facialexpressionsright);
		//		localStorage.setItem("Comealexpressionright", Comealexpressionright);
		//		localStorage.setItem("Comealexpressionleft", Comealexpressionleft);
		//		localStorage.setItem("tasteleft", tasteleft);
		//		localStorage.setItem("tasteright", tasteright);
		//		localStorage.setItem("SensoryLeft", SensoryLeft);
		//		localStorage.setItem("SensoryRight", SensoryRight);
		//		localStorage.setItem("rhombusleft", rhombusleft);
		//		localStorage.setItem("rhombusright", rhombusright);
		//		localStorage.setItem("rinnesleft", rinnesleft);
		//		localStorage.setItem("rinnesright", rinnesright);
		//		localStorage.setItem("webbers",webbers);
		//		localStorage.setItem("ABCleft", ABCleft);
		//		localStorage.setItem("ABCright", ABCright);
		//		localStorage.setItem("motorLeft1", motorLeft1);
		//		localStorage.setItem("sensoryRight1", sensoryRight1);
		//		localStorage.setItem("sensoryLeft1", sensoryLeft1);
		//		localStorage.setItem("motorRight1", motorRight1);
		//		localStorage.setItem("Gagleft", Gagleft);
		//		localStorage.setItem("GagRight", GagRight);
		//		localStorage.setItem("palatalleft", palatalleft);
		//		localStorage.setItem("palatalright", palatalright);
		//		localStorage.setItem("uvula", uvula);
		//		localStorage.setItem("trapeziusleft", trapeziusleft);
		//		localStorage.setItem("trapeziusright", trapeziusright);
		//		localStorage.setItem("scmleft", scmleft);
		//		localStorage.setItem("scmright", scmright);
		//		localStorage.setItem("poweroftongueleft", poweroftongueleft);
		//		localStorage.setItem("poweroftongueright", poweroftongueright);
		//		localStorage.setItem("wastingleft", wastingleft);
		//		localStorage.setItem("wastingright", wastingright);
		//		localStorage.setItem("protrusion", protrusion);
		//		localStorage.setItem("toneleft", toneleft);
		//		localStorage.setItem("toneright", toneright);
		//		localStorage.setItem("bulkleft", bulkleft);
		//		localStorage.setItem("bulkright", bulkright);
		//		localStorage.setItem("abductionleft", abductionleft);
		//		localStorage.setItem("abductionright", abductionright);
		//		localStorage.setItem("adductionleft", adductionleft);
		//		localStorage.setItem("adductionright", adductionright);
		//		localStorage.setItem("flexionleft", flexionleft);
		//		localStorage.setItem("flexionright", flexionright);
		//		localStorage.setItem("extensionleft", extensionleft);
		//		localStorage.setItem("extensionright", extensionright);
		//		localStorage.setItem("flexionleft1", flexionleft1);
		//		localStorage.setItem("flexionright1", flexionright1);
		//		localStorage.setItem("FlexionLeft12", FlexionLeft12);
		//		localStorage.setItem("FlexionRight12", FlexionRight12);
		//		localStorage.setItem("extensionleft1", extensionleft1);
		//		localStorage.setItem("extensionright1", extensionright1);
		//		localStorage.setItem("HangGripleft", HangGripleft);
		//		localStorage.setItem("HangGripright", HangGripright);
		//		localStorage.setItem("toneleft1", toneleft1);
		//		localStorage.setItem("toneright1", toneright1);
		//		localStorage.setItem("abductionleft1", abductionleft1);
		//		localStorage.setItem("abductionright1", abductionright1);
		//		localStorage.setItem("adductionleft1", adductionleft1);
		//		localStorage.setItem("adductionright1", adductionright1);
		//		localStorage.setItem("flexionleft2", flexionleft2);
		//		localStorage.setItem("flexionright2", flexionright2);
		//		localStorage.setItem("extensionleft2", extensionleft2);
		//		localStorage.setItem("extensionright2", extensionright2);
		//		localStorage.setItem("flexionleft3", flexionleft3);
		//		localStorage.setItem("flexionright3", flexionright3);
		//		localStorage.setItem("extensionleft3", extensionleft3);
		//		localStorage.setItem("extensionright3", extensionright3);
		//		localStorage.setItem("flexionleft4", flexionleft4);
		//		localStorage.setItem("flexionright4", flexionright4);
		//		localStorage.setItem("extensionleft4", extensionleft4);
		//		localStorage.setItem("extensionright4", extensionright4);
		//		localStorage.setItem("inversionleft", inversionleft);
		//		localStorage.setItem("inversionright", inversionright);
		//		localStorage.setItem("eversionleft", eversionleft);
		//		localStorage.setItem("eversionright", eversionright);
		//		localStorage.setItem("ehlleft", ehlleft);
		//		localStorage.setItem("ehlright", ehlright);
		//		localStorage.setItem("abornmalmovementsleft", abornmalmovementsleft);
		//		localStorage.setItem("abnormalmovementsright", abnormalmovementsright);
		//		localStorage.setItem("upperlimbleft", upperlimbleft);
		//		localStorage.setItem("upperlimbright", upperlimbright);
		//		localStorage.setItem("trunkleft", trunkleft);
		//		localStorage.setItem("trunkright", trunkright);
		//		localStorage.setItem("lowerLimbleft", lowerLimbleft);
		//		localStorage.setItem("lowerLimbright", lowerLimbright);
		//		localStorage.setItem("upperlimbleft1", upperlimbleft1);
		//		localStorage.setItem("upperlimbright1", upperlimbright1);
		//		localStorage.setItem("trunkleft1", trunkleft1);
		//		localStorage.setItem("trunkright1", trunkright1);
		//		localStorage.setItem("lowerLimbleft1", lowerLimbleft1);
		//		localStorage.setItem("lowerLimbright1", lowerLimbright1);
		//		localStorage.setItem("vibrationLeft", vibrationLeft);
		//		localStorage.setItem("vibrationRight", vibrationRight);
		//		localStorage.setItem("JPSleft", JPSleft);
		//		localStorage.setItem("JPSright", JPSright);
		//		localStorage.setItem("bicepsleft", bicepsleft);
		//		localStorage.setItem("bicepsright", bicepsright);
		//		localStorage.setItem("tricepsleft", tricepsleft);
		//		localStorage.setItem("tricepsright", tricepsright);
		//		localStorage.setItem("supinatorleft", supinatorleft);
		//		localStorage.setItem("supinatorright", supinatorright);
		//		localStorage.setItem("Kneeleft", Kneeleft);
		//		localStorage.setItem("Kneeright", Kneeright);
		//		localStorage.setItem("Ankleleft", Ankleleft);
		//		localStorage.setItem("Ankleright", Ankleright);
		//		localStorage.setItem("Abdominalleft", Abdominalleft);
		//		localStorage.setItem("Abdominalright", Abdominalright);
		//		localStorage.setItem("Cremastricright", Cremastricright);
		//		localStorage.setItem("Cremastricleft", Cremastricleft);
		//		localStorage.setItem("BCright", BCright);
		//		localStorage.setItem("BCleft", BCleft);
		//		localStorage.setItem("PlantarLeft", PlantarLeft);
		//		localStorage.setItem("PlantarRight", PlantarRight);
		//		localStorage.setItem("HOffmansRight", HOffmansRight);
		//		localStorage.setItem("HOffmansLeft", HOffmansLeft);
		//		localStorage.setItem("Fingerflexionright", Fingerflexionright);
		//		localStorage.setItem("Fingerflexionleft", Fingerflexionleft);
		//		localStorage.setItem("pectoralRight", pectoralRight);
		//		localStorage.setItem("pectoralLeft", pectoralLeft);
		//		localStorage.setItem("rombers", rombers);
		//		localStorage.setItem("fingerNoseTextright", fingerNoseTextright);
		//		localStorage.setItem("fingerNoseTextleft", fingerNoseTextleft);
		//		localStorage.setItem("pendularKneeJerkright", pendularKneeJerkright);
		//		localStorage.setItem("pendularKneeJerkleft", pendularKneeJerkleft);
		//		localStorage.setItem("kneeHelltestright", kneeHelltestright);
		//		localStorage.setItem("kneeHelltestleft", kneeHelltestleft);
		//		localStorage.setItem("othersRight", othersRight);
		//		localStorage.setItem("othersLeft", othersLeft);
		//		localStorage.setItem("CVS", CVS);
		//		localStorage.setItem("Abdomen", Abdomen);
		//		localStorage.setItem("RespiratorySystem", RespiratorySystem);













		//		window.location.href = 'http://127.0.0.1:8000/createpatientautfill/'

				// alert("Name of the patient: "+data.Name+"\n"+"Age of the patient: "+data.Age+"\n"+"Gender: "+data.genderChoice+"\n"+"Kureid: "+data.Kureid)
				/*		document.getElementById('patientData').innerHTML = "Name of the patient: "+data.Name+"<br>"+"Age of the patient: "+data.Age+"<br>"+"Gender: "+data.genderChoice+"<br>"+"Kureid: "+data.Kureid
					+"<br>"+"Opno: "+data.Opno+"<br>"+"Ipno: "+data.Ipno+"<br>"+"Address: "+data.Address
					+"<br>"+"Phoneno: "+data.Phoneno+"<br>"+"ChiefComplaints: "+data.ChiefComplaints+"<br>"+"Historyofillness: "+data.Historyofillness+"<br>"+"PastHistory: "+data.PastHistory+"<br>"+"FamilyHistory: "+data.FamilyHistory+"<br>"+"ProvisionalDiagnosis: "+data.ProvisionalDiagnosis+"<br>"+"Medicationhistroy: "+data.Medicationhistroy
					+"<br>"+"Smoking: "+data.Smoking+"<br>"+"Bowel: "+data.Bowel
					+"<br>"+"Bladder: "+data.Bladder+"<br>"+"Sleep: "+data.Sleep
					+"<br>"+"Summary: "+data.Summary+"<br>"+"Examinedby: "+data.Examinedby
					+"<br>"+"Verifiedby: "+data.Verifiedby
					*/


			});


	</script>

</html>
